@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

@keyframes marquee-glide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-marquee-glide {
  display: flex;
  width: max-content;
  animation: marquee-glide 80s linear infinite;
  will-change: transform;
}

.animate-marquee-glide:hover {
  animation-play-state: paused;
}
